.navigation {
  width: 613px;
  margin-right: -10px;

  @media (max-width: $vp-768) {
    width: 523px;
  }

  @media (max-width: $vp-320) {
    display: none;
    width: 285px;
  }
}

.navigation ul {
  position: relative;
  z-index: 2;

  @include flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include reset-list;

  @media (max-width: $vp-576) {
    justify-content: center;
  }

  @media (max-width: $vp-320) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 418px;
    margin-right: -30px;
    margin-left: 20px;
    padding: 75px 25px;
    background-color: $color-default-white;
  }
}

.navigation li {
  margin-right: 13px;

  @media (max-width: $vp-768) {
    margin-right: 3px;
    margin-bottom: 15px;
  }

  @media (max-width: $vp-320) {
    margin-bottom: 18px;
    margin-right: 0;
  }
}

.navigation li:last-of-type {
  margin-right: -10px;
}

.navigation a {
  padding: 10px;
  font-weight: 500;
  line-height: 19.5px;
  color: $color-default-white;

  @media (max-width: $vp-992) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-576) {
    font-size: 12px;
  }

  @media (max-width: $vp-320) {
    padding: 5px;
    font-size: 18px;
    line-height: 22px;
    color: $color-default-black;
  }
}
