.page-header {
  position: relative;
  width: 100%;
  min-height: 39.35vw;
  background-color: $color-dark-blue;
  background-image: url("../img/pictures/intro-background.jpg");

  @include background;
  background-size: cover;
  box-shadow: 0 4px 4px $color-black-muted;
  content: "";

  @media (min-resolution: 2dppx) {
    background-image: url("../img/pictures/intro-background@2x.jpg");
  }

  @media (max-width: $vp-767) {
    min-height: 500px;
  }
}

.page-header__wrapper {
  min-height: 60px;
  padding: 33px 7.55vw;

  @include flex;

  @media (max-width: $vp-1023) {
    padding: 27px 5.85vw;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
  }
}

.page-header a {
  @media (max-width: $vp-767) {
    align-self: flex-start;
  }
}

.page-header button {
  position: relative;
  display: none;
  width: 24px;
  height: 15px;
  padding: 0;
}

.page-header svg {
  position: relative;
  width: 70px;
  height: 38px;
  margin-right: 10px;
  fill: $color-default-white;

  @media (max-width: $vp-1023) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $vp-767) {
    position: absolute;
    width: 42px;
    height: 22px;
  }
}

.page-header__menu-closed {
  @media (max-width: $vp-767) {
    flex-direction: row;
  }
}

.page-header__menu-closed nav {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.page-header__menu-closed button {
  @media (max-width: $vp-767) {
    margin-top: 3px;
    display: block;
    width: 24px;
    height: 14px;
    align-self: flex-start;
    background-color: transparent;
    background-image: url("../img/svg/burger-button.svg");

    @include background;
  }
}

.page-header__menu-opened {
  position: relative;
}

.page-header__menu-opened nav {
  position: absolute;
  display: block;
  z-index: 3;
  opacity: 1;
  top: 0;
  right: 0;
  left: 35px;
  transition: all 0.3s linear;
}

.page-header__menu-opened button {
  @media (max-width: $vp-767) {
    position: absolute;
    z-index: 4;
    display: block;
    top: 24px;
    right: 10px;
    background-image: url("../img/svg/close-button.svg");

    @include background;
    background-size: 13px 13px;
  }
}

.page-header__menu-nojs nav {
  @media (max-width: $vp-767) {
    display: block;
    margin-bottom: -120px;
  }
}

.page-header__menu-nojs ul {
  @media (max-width: $vp-767) {
    padding: 75px 25px;
    margin-top: -20px;
    margin-left: 0;
  }
}

.page-header__menu-nojs button {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.page-header__menu-nojs .page-header__link,
.page-header__menu-opened .page-header__link {
  display: none;
}

.page-header__navigation svg {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 15px;
    fill: $color-dark-blue;
  }
}

.page-header__navigation {
  @media (max-width: $vp-767) {
    box-shadow: 0 4px 4px $color-black-muted;
    background-color: $color-default-white;
    padding: 85px 25px;
    padding-left: 20px;
    overflow: hidden;
  }
}

.page-header__navigation ul {
  height: 100%;

  @media (max-width: $vp-767) {
    padding: 0;
    overflow: scroll;
    min-height: 398px;
    max-height: calc(100vh - 60px);
  }
}

.page-header__navigation a {
  @media (max-width: $vp-767) {
    padding: 5px 0;
  }
}

.page-header__navigation > a {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.page-header__link {
  align-self: flex-start;
}

.page-header__link svg {
  align-self: flex-start;
}
