.reservation {
  background-image: url("/img/pictures/form-background.jpg");

  @include background;
  background-color: $color-light-blue;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/pictures/form-background@2x.jpg");
  }
}

.reservation__wrapper {
  @include flex;
  padding: 50px 163px;
  padding-bottom: 50px;

  @media (max-width: $vp-992) {
    flex-direction: column;
    padding: 100px 160px;
    padding-top: 83px;
  }

  @media (max-width: $vp-576) {
    flex-direction: column;
    padding: 65px 15px;
  }

  @media (max-width: $vp-320) {
    padding: 60px 15px;
    padding-bottom: 65px;
  }
}

.reservation h2 {
  margin-top: -5px;
  margin-bottom: 8px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;

  @media (max-width: $vp-992) {
    margin: 0;
    font-size: 34px;
    text-align: center;
  }

  @media (max-width: $vp-576) {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 31px;
  }
}

.reservation__content-wrapper {
  margin-right: 10px;

  @media (max-width: $vp-768) {
    margin: 0;
  }
}

.reservation__content-wrapper p {
  width: 352px;
  margin: 0;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $vp-992) {
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 53px;
  }

  @media (max-width: $vp-576) {
    width: 257px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 22px;
  }
}
