.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 120px 103px;

  @media (max-width: $vp-768) {
    padding: 100px 45px;
    padding-top: 100px;
  }

  @media (max-width: $vp-320) {
    padding: 65px 15px;
  }
}
